.product {
  display: flex; /* 요소들을 가로로 배치 */
  align-items: flex-start; /* 요소들을 세로 상단에 배치 */
  width: 100%; /* div가 화면에 꽉 차도록 */
  margin-bottom: 20px; /* 상품 간 간격 */
}

.productImage {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 10%; /* 이미지 모서리를 둥글게 */
}

.productDetails {
  display: flex;
  flex-direction: column; /* 상품명과 가격을 세로로 배치 */
  justify-content: space-between; /* 상품명, 가격, 아이콘 사이에 공간을 최대로 배치 */
  flex-grow: 1; /* 가능한 많은 공간을 차지하도록 */
  margin-left: 20px; /* 이미지와의 간격 */
  height: 120px; /* 상품 이미지의 높이와 동일하게 설정 */
}

.orderIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto; /* 아이콘에 마우스를 올리면 포인터로 변경 */
}

.productName {
  font-family: "Urbanist", sans-serif;
  font-weight: bold; /* 폰트 굵게 */
  font-size: 25px; /* 글자 크기 */
  color: #333; /* 글자 색상 */
}
.productContainer {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-top: 50px;
}
