.profileCardsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profileCard {
  border: 1px solid #000;
  text-align: center;
  padding: 10px;
  flex: 1 0 21%; /* This will make the cards responsive */
  margin: 10px;
}
