@font-face {
  font-family: "Merriweather";
  src: url("./assets/fonts/Merriweather-Bold.ttf") format("truetype"),
    url("./assets/fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "urbanist";
  src: url("./assets/fonts/static/Urbanist-Black.ttf") format("truetype"),
    url("./assets/fonts/static/Urbanist-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 0 200px; /* flex-grow, flex-shrink, flex-basis */
  margin: 10px;
}

/* 아이폰 14 뷰포트에 대한 반응형 스타일 */
@media only screen and (max-width: 390px) {
  .item {
    flex-basis: 100%; /* 모든 아이템을 새로운 줄로 이동시킵니다 */
  }
}
