.post {
    font-family: "urbanist";
    background-color: #FFFFFF;
    width: 383px;
    height: 505px;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.profile-area {
    background-color: #fff;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

#profile {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
}

.nickname {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#workout {
    width: 358px;
    max-height: 284px;
    border: 25px solid #000000;
    object-fit: cover;
    position: relative;
}

#routine {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
    bottom: -10px;
    left: 25px;
}

#heart {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

#heart-container {
    display: flex;
    flex-direction: row;
    align-items: top-left;
    padding-left: 10px;
    padding-top: 10px;
}

#word {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
}
