.pageContainer {
  padding-top: 100px;
  background-color: #fff;
  position: relative;
}
.pageTitle {
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  position: absolute;
  top:60px;
  transform: translate(-50%, -50%); /* 정확히 중앙에 배치하기 위해 */
  margin-bottom: 0;
}

.mainProfileIcon {
  position: absolute;
  top: 40px;
  right: 20px;
}

#mainprofile {
  width: 50px;
  height: 50px;
}

.mateTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  top:-10px;
  left: 20px;
  font-family: 'Urbanist', sans-serif;
}

.mateProfile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#mateimage{
  margin-left:10px;
  width: 80px;
  height: 80px;
}

.profileText {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#profilename {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Urbanist', sans-serif;
}

#tag {
  font-size: 16px;
  color: #ff5151;
  font-family: 'Urbanist', sans-serif;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
