.loginScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    text-align: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 36px;
    color: #FF6F61;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .loginForm {
    width: 100%;
    max-width: 400px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .inputGroup {
    margin-bottom: 15px;
    position: relative;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #FF6F61;
    border-radius: 5px;
    outline: none;
  }
  
  .togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #FF6F61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .signupButton {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #FF6F61;
    background: none;
    border: 2px solid #FF6F61;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .signupButton:hover,
  .loginButton:hover {
    background-color: #e65c50;
    border-color: #e65c50;
  }
  